<body>
<h1>{{ source.label }} : Issues as of {{ run_date }}</h1>

<a href='{{link}}'> {{source.label}} </a> 

{% for issue_tag, issues in issues.items()%}
	<div>
		<h2> {{ issue_tag }} issues </h2>
		<ul>
			{% for issue_message in issues %}
			<li> {{issue_message}} </li>
			{% endfor %}
		</ul>
{% endfor %}

</body>